@charset 'utf-8';

/* Font */
@font-face {
	font-family: "S-CoreDream-4Regular";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
}
ul,
li {
	list-style: none;
}
body {
	background: #fff;
	font-family: "S-CoreDream-4Regular";
}

.projcetLogo {
	padding: 30px;
	font-size: 27px;
	text-align: center;
	text-transform: uppercase;
}
.logo {
	position: relative;
	display: inline-block;
}
.logo span {
	display: inline-block;
	color: #f26f6f;
}
.logo .s2 {
	color: #f2b66f;
}
.logo .s3 {
	color: #f2da6f;
}
.logo .s4 {
	margin-left: 10px;
	color: #bbf26f;
}
.logo .s5 {
	color: #6ff2e4;
}
.logo .s6 {
	color: #6fa5f2;
}
.logo .s7 {
	color: #6f8df2;
}
.logo .s8 {
	color: #756ff2;
}
.logo .s9 {
	color: #ac6ff2;
}
.logo:before {
	position: absolute;
	top: 50px;
	left: 330px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #e0e0e0;
	border-radius: 100%;
	animation: dot 5s ease-in-out;
	animation-fill-mode: forwards;
	content: "";
}
@keyframes dot {
	1% {
		top: -10px;
		left: 2px;
		opacity: 1;
	}
	2% {
		top: -5px;
		background: #f26f6f;
		opacity: 0.5;
	}
	10% {
		top: -10px;
		left: 31px;
		opacity: 1;
	}
	12% {
		top: -5px;
		background: #f2b66f;
		opacity: 0.5;
	}
	20% {
		top: -10px;
		left: 76px;
		opacity: 1;
	}
	22% {
		top: -5px;
		background: #f2da6f;
		opacity: 0.5;
	}
	30% {
		top: -10px;
		left: 122px;
		opacity: 1;
	}
	32% {
		top: -5px;
		background: #bbf26f;
		opacity: 0.5;
	}
	40% {
		top: -10px;
		left: 157px;
		opacity: 1;
	}
	42% {
		top: -5px;
		background: #6ff2e4;
		opacity: 0.5;
	}
	50% {
		top: -10px;
		left: 189px;
		opacity: 1;
	}
	52% {
		top: -5px;
		background: #6fa5f2;
		opacity: 0.5;
	}
	60% {
		top: -10px;
		left: 225px;
		opacity: 1;
	}
	62% {
		top: -5px;
		background: #756ff2;
		opacity: 0.5;
	}
	70% {
		top: -10px;
		left: 263px;
		opacity: 1;
	}
	72% {
		top: -5px;
		background: #756ff2;
		opacity: 0.5;
	}
	80% {
		top: -10px;
		left: 300px;
		opacity: 1;
	}
	82% {
		top: -5px;
		left: 310px;
		background: #e0e0e0;
		opacity: 0.5;
	}
	90% {
		top: 50px;
		left: 330px;
		opacity: 1;
	}
	95% {
		top: 30px;
		left: 330px;
		background: #888;
	}
	100% {
		top: 50px;
		left: 330px;
	}
}

/* loading */
.projcetLoader {
	margin: 100px auto;
	width: 500px;
	height: 100px;
	font-size: 10px;
	text-align: center;
}
.projcetLoader span {
	display: inline-block;
	width: 10px;
	height: 100%;
	margin-left: 5px;
	-webkit-animation: delay 0.8s infinite ease-in-out;
	animation: delay 0.8s infinite ease-in-out;
	vertical-align: top;
}

.projcetLoader .bar1 {
	background-color: #f26f6f;
}
.projcetLoader .bar2 {
	background-color: #f2da6f;
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s;
}
.projcetLoader .bar3 {
	background-color: #bbf26f;
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s;
}
.projcetLoader .bar4 {
	background-color: #6fa5f2;
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
}
.projcetLoader .bar5 {
	background-color: #6fa5f2;
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
}
.projcetLoader .bar6 {
	background-color: #756ff2;
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
}
.loadingText {
	margin-top: 20px;
	font-size: 15px;
	text-align: center;
}
@-webkit-keyframes delay {
	0%,
	40%,
	100% {
		-webkit-transform: scaleY(0.05);
	}
	20% {
		-webkit-transform: scaleY(1);
	}
}

@keyframes delay {
	0%,
	40%,
	100% {
		transform: scaleY(0.05);
		-webkit-transform: scaleY(0.05);
	}
	20% {
		transform: scaleY(1);
		-webkit-transform: scaleY(1);
	}
}

/* search box */
.projectSearchBox {
	padding: 10px 30px;
	font-size: 0;
	text-align: right;
}
.projectSearchInput {
	width: 60%;
	max-width: 300px;
	height: 40px;
	padding: 5px 10px;
	border: 0 none;
	border-bottom: 1px solid #e0e0e0;
	background: #fff;
	font-family: "S-CoreDream-4Regular";
	font-size: 13px;
	line-height: 30px;
	vertical-align: top;
	box-sizing: border-box;
	outline: transparent;
}
.projectSearchBtn {
	display: inline-block;
	max-width: 30%;
	height: 40px;
	margin-left: 10px;
	padding: 0 20px;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	background: #fff;
	font-family: "S-CoreDream-4Regular";
	font-size: 14px;
	line-height: 40px;
	vertical-align: top;
	text-align: center;
	box-sizing: border-box;
}

/* content list */
.projectContent {
	padding: 15px 20px;
}
.projectList li {
	float: left;
	width: 25%;
	padding: 10px;
	box-sizing: border-box;
}

.projectList li > div {
	overflow: hidden;
	position: relative;
	display: block;
	padding: 20px 10px;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
	background: #fff;
}

.projectList li a {
	overflow: hidden;
	display: inline-block;
	position: relative;
	width: 100%;
	border-radius: 10px;
	font-size: 0;
	vertical-align: top;
}

.projectList li img {
	width: 100%;
	vertical-align: top;
}

.projectList li p {
	margin-top: 15px;
	color: #2f332f;
	font-size: 14px;
	line-height: 18px;
}

.alert {
	margin: 50px 0;
	color: #2f332f;
	font-size: 18px;
	text-align: center;
}
@media screen and (max-width: 999px) {
	.projectList li {
		width: 33.33%;
	}
}
@media screen and (max-width: 749px) {
	.searchBtn {
		margin-left: 5%;
		font-size: 12px;
	}
	.projectList li {
		width: 50%;
	}
}
@media screen and (max-width: 439px) {
	.projectList li {
		width: 100%;
	}
}
